
img.pW, img.pV {
  display: none !important;
}

.aC + .nH > .no > .nH:first-child + .nH > .nH > div:first-child span {
  background: url("images/compose.png") 1px 0 no-repeat;
  padding-left: 20px;
}

.n0[href$="#inbox"],
.n0[href$="#all"] {
  background: url("images/inbox.png") no-repeat;
  padding-left: 20px;
}

.n0[href$="#starred"] {
  background: url("images/starred.png") no-repeat;
  padding-left: 20px;
}

.n0[href$="#chats"] {
  background: url("images/chats.png") no-repeat;
  padding-left: 20px;
}

.n0[href$="#sent"] {
  background: url("images/sent.png") no-repeat;
  padding-left: 20px;
}

.n0[href$="#outbox"] {
  background: url("images/outbox.png") no-repeat;
  padding-left: 20px;
}

.n0[href$="#drafts"] {
  background: url("images/drafts.png") 0 -1px no-repeat;
  padding-left: 20px;
}

.n0[href$="#spam"] {
  background: url("images/spam.png") no-repeat;
  padding-left: 20px;
}

.n0[href$="#trash"] {
  background: url("images/trash.png") no-repeat;
  padding-top: 1px;
  padding-left: 20px;
}

.aC + .nH > .no > .nH:first-child + .nH > .nH > div:first-child + div + div div span {
  background: url("images/contacts.png") no-repeat;
  padding-left: 20px;
}

.aC + .nH > .no > .nH:first-child + .nH > .nH > div:first-child + div + div > div > div > div > div:first-child + div span {
  background: url("images/tasks.png") no-repeat;
  padding-top: 1px;
  padding-left: 20px;
}

.CI {
  z-index: 5 !important;
  background-color: rgba(255, 255, 255, 0.93) !important;
  margin-left: 26px !important;
  border: 1px solid #ccc !important;
  -webkit-border-radius: 0 0 4px 4px !important;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6) !important;
}

.lR, .IT, .lU, .lV, .nN, .nM {
  background: transparent !important;
}

#gbar {
  display: none !important;
}

body div[class*="vI8oZc"] + .nH > .nH > .aC > .nH > .nH > .no > div[style*="width: 9px;"] + .nH {
  z-index: 10 !important;
  position: fixed !important;
  background: transparent url(images/header-gradient.png) repeat-x !important;
top: 0 !important;
  width: 100% !important;
  height: 27px !important;
  border-bottom: 1px solid #404040 !important;
}

.d {
  margin-top: 1px !important;
}

.bR {
  text-decoration: none !important;
  text-shadow: #ddd 0 1px !important;
}

.bR span:not(:hover) {
  color: #000 !important;
}

body div[class*="vI8oZc"] + .nH > .nH > .aC > .nH > .nH > .no > div[style*="width: 9px;"] + .nH [style*="height: 70px;"] > [style*="height: 46px;"] {
  display: none !important;
}

body div[class*="vI8oZc"] + .nH > .nH > .aC > .nH > .nH > .no > div[style*="width: 9px;"] + .nH .nH.aK,
body div[class*="vI8oZc"] + .nH > .nH > .aC > .nH > .nH > .no > div[style*="width: 9px;"] + .nH .nH.aJ {
  margin-top: 4px !important;
}

body div[class*="vI8oZc"] + .nH > .nH > .aC > .nH > .nH > .no > div[style*="width: 9px;"] + .nH > .nH + .nH + .nH {
  opacity: 0.9 !important;
}

body div[class*="vI8oZc"] + .nH > .nH > .aC > .nH > .nH > .no > div[style*="width: 9px;"] + .nH > .nH > .no,
body div[class*="vI8oZc"] + .nH > .nH > .aC > .nH > .nH > .no > div[style*="width: 9px;"] + .nH > .nH > .no > .nH,
body div[class*="vI8oZc"] + .nH > .nH > .aC > .nH > .nH > .no div[style*="height: 70px;"] {
  height: 27px !important;
}

div[id=":rh"] {
  background-image: none !important;
  width: 50px !important;
  height: 20px !important;
  margin-top: 6px !important;
  margin-left: 10px !important;
  font-size: 14px !important;
  text-shadow: #ddd 0 1px !important;
}

div[id=":rh"]:after {
  content: "Gmail" !important;
}

div[style*="width: 158px; height: 70px;"] + div {
  position: fixed !important;
  width: auto !important;
  right: 6px !important;
}

.diLZtc {
  right: 100px !important;
}

.aJ, .aK {
  width: 400px !important;
}

input[class="bQ nr"], 

.goog-menu-filter > input {
  -webkit-appearance: none !important;
  background: #fff url(images/search.png) no-repeat 2px 3px !important;
font-size: 12px !important;
  height: 16px !important;
  padding: 3px 18px 1px 18px !important;
  margin: 0 !important;
  border: none !important;
  -webkit-border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.9) !important;
}

input[class="zVzLYb"] {
  padding: 3px 10px 1px 18px !important;
}

input[class="bQ nr"]:focus,
 .goog-menu-filter > input:focus {
  border: none !important;
  -webkit-box-shadow: 0 0 4px 1px rgb(40, 120, 212) !important;
  -webkit-box-shadow: inset 0 0 2px 1px rgba(40, 120, 212, 0.7),
0 0 4px 1px rgb(40, 120, 212),
inset 0 1px 1px rgba(0, 0, 0, 0.9) !important;
}

.aC .goog-imageless-button-outer-box,
.aC .goog-imageless-button-top-shadow {
  background: none !important;
  border: none !important;
}

.bN .J-K-I-KC {
  -webkit-appearance: none !important;
  text-indent: -9999px !important;
}

.bN .J-J5-Ji {
  border: none !important;
}

.aC .goog-imageless-button-inner-box {
  -webkit-appearance: none !important;
  text-indent: -9999px !important;
  width: 16px !important;
  border: none !important;
  margin-top: 4px !important;
}

[id=":rg"] .J-K-I-Jz,
.aC tr > td[class="bN"]:first-child + td > div:first-child .goog-imageless-button-inner-box {
  background: transparent url(images/nextard.png) no-repeat !important;
margin-left: -25px !important;
  margin-right: 6px !important;
}

[id=":rf"] .J-K-I-Jz,
.aC tr > td[class="bN"]:first-child + td > div:first-child + div .goog-imageless-button-inner-box {
  background: transparent url("images/web.png") no-repeat !important;
  margin-left: -13px !important;
  margin-right: -3px !important;
}

.aC .goog-imageless-button-active .goog-imageless-button-inner-box,
.aC .goog-imageless-button-open .goog-imageless-button-inner-box {
  background: #B5B5B5 !important;
  border: 1px solid rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px, inset rgba(0, 0, 0, 1) 0 1px 3px, rgba(255, 255, 255, 0.4) 0 1px !important;
}

div[style*="width: 158px; height: 70px;"] + div:not(:hover) .bN .J-K-I-Jz,
div[style*="width: 158px; height: 70px;"] + div:not(:hover) .goog-imageless-button-inner-box {
  opacity: 0 !important;
}

.b8[style*="visibility: hidden;"] {
  display: none !important;
}

.b8 .vf, .b8 .vg, .b8 .vi, .b8 .vj, .b8 .vk {
  display: none !important;
}

.b8 {
  margin-top: 32px !important;
}

.b8 .vh {
  background-color: rgba(0, 0, 0, 0.6) !important;
  padding: 4px 8px !important;
  color: #fff !important;
  -webkit-border-radius: 4px !important;
}

.b8 .vh a, .b8 .vh #link_undo, #link_vsm.ag {
  color: #fff !important;
}

body div[class*="vI8oZc"] + .nH > .nH > .aC > .nH > .nH > div[class*="nH qp"] {
  z-index: 10 !important;
  position: fixed !important;
  background: transparent url(images/actionbar-gradient.png) repeat-x !important;
width: 100% !important;
  height: 26px !important;
  top: 28px !important;
  padding: 0px 0 3px 0 !important;
  border-bottom: 1px solid #252525 !important;
}

#guser {
  font-size: x-small !important;
  color: transparent !important;
}

#guser span[title*="Lab"] img {
  display: none !important;
}

#guser span[title*="Lab"], #guser a {
  background-position: 4px 0 !important;
  background-repeat: no-repeat !important;
  background-color: rgba(0, 0, 0, 0) !important;
  font: 11px / 13px "Lucida Grande", sans-serif;
  padding: 9px 13px 10px !important;
  font-size: 0 !important;
  color: transparent !important;
  margin-left: -9px !important;
  border: 1px solid rgba(0, 0, 0, 0.6) !important;
  outline: none !important;
  -webkit-border-radius: 2px !important;
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.4) inset,

0pt 10px 0 -2px rgba(255, 255, 255, 0.2) inset,
0pt 13px 8px rgba(0, 0, 0, 0.3) inset,
0pt 1px 0px rgba(255, 255, 255, 0.2) !important;
}

#guser span[title*="Lab"] {
  margin-right: 0px !important;
}

#guser span[title*="Lab"] + span .e {
  color: #fff !important;
}

#guser span[title*="Lab"] + span .e.bz {
  color: #ff66ff !important;
}

#guser span[title*="Lab"] + span {
  background-color: rgba(0, 0, 0, 0) !important;
  vertical-align: bottom !important;
  padding: 3px 5px !important;
  top: 2px !important;
  margin-left: -9px !important;
  border: 1px solid rgba(0, 0, 0, 0.6) !important;
  outline: none !important;
  -webkit-border-radius: 2px !important;
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.4) inset,
0pt 10px 0 -2px rgba(255, 255, 255, 0.2) inset,
0pt 13px 8px rgba(0, 0, 0, 0.3) inset,
0pt 1px 0px rgba(255, 255, 255, 0.2) !important;
}

#guser span[title*="Lab"] + span:active,
#guser span[title*="Lab"]:active, #guser a:active {
  background-color: rgba(0, 0, 0, 1) !important;
}

#guser span[title*="Lab"] {
  background-image: url("images/labs.png") !important;
}

#guser img[class="bs"] {
  
}

.c .bd {
  color: #fff !important;
}

.c .by {
  color: #ddd !important;
}

.c .bi, .c .be {
  color: #999 !important;
}

.c .bg {
  border-bottom: 1px solid #999 !important;
}

.c {
  position: fixed !important;
  margin-top: 8px !important;
}

.c .lJ, .c .lU, .c .lV {
  background: transparent !important;
}

.c .lK, .c .lL, .c .lM {
  border: none !important;
}

.c .bc {
  margin: 8px 8px !important;
}

.c .bd {
  background: rgba(0, 0, 0, 0.7) !important;
  -webkit-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6) !important;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6) !important;
}

#guser a[href$="#settings"] {
  background-image: url("images/settings.png") !important;
}

#guser a[href="?ui=1"] {
  display: none !important;
}

#guser a[href*="http://mail.google.com/support/?ctx=gmail"] {
  background-image: url("images/help.png") !important;
}

#guser a[href*="?logout"] {
  background-image: url("images/logout.png") !important;
}

.diLZtc .A1 .gfqccc,
.diLZtc .A1 .Cq,
.iI .iH {
  z-index: 10 !important;
  position: fixed !important;
  top: 27px !important;
  padding: 4px 8px 0 !important;
  margin-left: -190px !important;
}

.A1 .J-K-I-Jz, .iI .J-K-I-Jz,
.A1 .goog-imageless-button-content, .iI .iH .goog-imageless-button-content, .A1 .AP {
  color: #fff !important;
  margin-top: -2px !important;
}

.A1 .AZ, .iI .iH .AZ {
  background-position: -24px 50% !important;
}

.A1 .J-K-I-K9-KP, .iI .J-K-I-K9-KP,
.A1 .goog-imageless-button-outer-box, .A1 .goog-imageless-button-top-shadow,
.iI .iH .goog-imageless-button-outer-box, .iI .iH .goog-imageless-button-top-shadow {
  background: none !important;
  border: none !important;
}

.A1 .J-K-I-Kv-H, .iI .J-K-I-Kv-H {
  top: 2px !important;
  border: none !important;
}

.A1 .AP, .iI .AO {
  padding: 0px 8px !important;
  font-size: 11px !important;
  line-height: 17px !important;
  vertical-align: middle !important;
  text-decoration: none !important;
  outline: none !important;
}

.A1 .goog-imageless-button, .iI .iH .goog-imageless-button {
  top: 2px !important;
}

.A1 .J-K-I-J6-H, .iI .J-K-I-J6-H,
.A1 .goog-imageless-button-inner-box, .iI .iH .goog-imageless-button-inner-box,
.A1 .AP {
  background-color: rgba(0, 0, 0, 0) !important;
  height: 18px !important;
  margin-right: -1px !important;
  border: 1px solid rgba(0, 0, 0, 0.6) !important;
  -webkit-border-radius: 2px !important;
  -webkit-box-shadow: 0pt 10px 0 -2px rgba(255, 255, 255, 0.2) inset,
0pt 13px 8px rgba(0, 0, 0, 0.3) inset,
0pt 1px 0px rgba(255, 255, 255, 0.2) !important;
}

.iI .AO {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #fff !important;
  height: 18px !important;
  padding-left: 0 !important;
  margin-top: 2px !important;
  margin-right: 6px !important;
  border: 1px solid rgba(0, 0, 0, 0.6) !important;
  -webkit-border-radius: 2px !important;
  -webkit-border-image: url(images/backbutton.png) 1 2 2 12 / 1px 2px 2px 12px stretch stretch !important;
}

.iI .AO:hover {
  -webkit-border-image: url(images/backbutton-hover.png) 1 2 2 12 / 1px 2px 2px 12px stretch stretch !important;
}

.A1 .J-K-I-Je .J-K-I-J6-H, .A1 .J-K-I-Kq .J-K-I-J6-H,
.iI .J-K-I-Je .J-K-I-J6-H, .iI .J-K-I-Kq .J-K-I-J6-H,
.A1 .goog-imageless-button-active .goog-imageless-button-inner-box,
.A1 .goog-imageless-button-open .goog-imageless-button-inner-box,
.iI .iH .goog-imageless-button-active .goog-imageless-button-inner-box,
.iI .iH .goog-imageless-button-open .goog-imageless-button-inner-box {
  background-color: rgba(0, 0, 0, 0.96) !important;
  border: 1px solid rgba(255, 255, 255, 1);
}

.A1 .AP:active {
  background-color: rgba(0, 0, 0, 0.96) !important;
  border: 1px solid rgba(255, 255, 255, 1);
}

.Cq .goog-menuitem,
.iH .goog-menuitem {
  padding-left: 6px !important;
}

.Cq .goog-menuitem-highlight, .Cq .goog-tristatemenuitem-highlight, .Cq .goog-filterobsmenuitem-highlight,
.iH .goog-menuitem-highlight, .iH .goog-tristatemenuitem-highlight, .iH .goog-filterobsmenuitem-highlight {
  background-color: rgba(55, 115, 190, 1) !important;
  color: #fff !important;
}

.Cq .goog-menuitem-disabled, .Cq .goog-tristatemenuitem-disabled, .Cq .goog-filterobsmenuitem-disabled,
.iH .goog-menuitem-disabled, .iH .goog-tristatemenuitem-disabled, .iH .goog-filterobsmenuitem-disabled {
  color: rgba(0, 0, 0, 0.3) !important;
}

.AW,
.Cq .goog-menu, .iH .goog-menu {
  background-color: rgba(255, 255, 255, 0.9) !important;
  margin-left: 4px !important;
  border: 1px solid #ccc !important;
  -webkit-border-radius: 0 4px 4px 4px !important;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6) !important;
}

div[class="goog-menu"] {
  visibility: hidden !important;
}

.lT, .AX {
  background-color: transparent !important;
}

.lO, .lP, .lQ {
  display: none !important;
}

.lR, .lS {
  background: transparent !important;
}

.goog-menu-filter > input {
  background-color: transparent !important;
  width: 78% !important;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.9) !important;
}

.Cq .goog-menu-filter, .iH .goog-menu-filter {
  background: transparent !important;
  padding: 3px !important;
  border: none !important;
}

.AX .A0 {
  display: none !important;
}

.goog-tristatemenuitem-checkbox {
  background: url("images/checkbox.png") no-repeat !important;
  margin-left: 4px !important;
}

.goog-tristatemenuitem-fully-checked .goog-tristatemenuitem-checkbox {
  background: url("images/checkbox-enabled.png") no-repeat !important;
}

body div[class*="vI8oZc"] + .nH > .nH > .aC + .nH {
  margin-top: 57px !important;
}

body div[class*="vI8oZc"] + .nH > .nH > .aC + .nH > .no > [style*="width: 9px;"] + .nH + .nH {
  margin-top: 9px !important;
}

body div[class*="vI8oZc"] + .nH > .nH > .aC + .nH > .no > div[style*="width: 9px;"] + .nH + .nH {
  padding-left: 8px !important;
}

.A1 .yV {
  margin-top: -1.4em !important;
}

.AY .Di,
.iE .iG {
  position: fixed !important;
  bottom: 0 !important;
  right: 0 !important;
  background: rgba(0, 0, 0, 0.7) !important;
  padding: 2px 8px 2px !important;
  -webkit-border-top-left-radius: 5px !important;
  -webkit-border-radius-topleft: 5px !important;
}

.iE.ieCXse .iG {
  padding-top: 2px !important;
}

.AY .Di span,
.iE .iG div, .iE .iG span {
  color: #fff !important;
}

.AY .Di:not(:hover),
.iE .iG:not(:hover) {
  opacity: 0.5 !important;
}

body div[class*="vI8oZc"] + .nH > .nH > .aC + .nH > .no > div[style*="width: 9px;"] + .nH {
  background-color: #d1d7e2 !important;
  height: 100% !important;
  padding-top: 12px !important;
  padding-bottom: 40px !important;
  margin: 0 !important;
  margin-left: -9px !important;
  border-right: 1px solid #404040 !important;
}

body div[class*="vI8oZc"] + .nH > .nH > .aC + .nH > .no > div[style*="width: 9px;"] + .nH a:not(:hover),
.p9:not(:hover),
.CJ:not(:hover) {
  text-decoration: none !important;
}

.qj .h, .qj .i, .qj .j, .qj .o, .qj .p, .qj .q,
.pz .h, .pz .i, .pz .j, .pz .o, .pz .p, .pz .q,
.qj .pk .k, .pz.pA.pk .k, .qi.pk .k {
  background: none !important;
}

.qj .pk .l, .pz.pA.pk .l,

.qj .m, .qj .n, .qj .k,

.qi .p, .qi .q, .qi .j, .qi .i,
.Alfa2e.ol,
.qi .m, .qi .n, .qi .l,
.pz .k, .pz .m, .pz .n {
  background: transparent !important;
  margin-left: 0 !important;
}

.qj.pk, .pz.pp.pk {
  background: transparent url(images/sidebar-selected-gradient.png) repeat-x !important;
padding: 0 0 0px 0px !important;
  margin-top: 1px !important;
  margin-left: 0px !important;
}

.pz.pp {
  padding-left: 4px !important;
}

.qi.pk {
  background: transparent url(images/sidebar-hover-gradient.png) repeat-x !important;
margin-top: 1px !important;
}

.Alfa2e.ol a {
  color: #fff !important;
}

.CM {
  border-top: 0 !important;
  padding: 3px 18px 0px !important;
}

.CM:before {
  content: "Labels" !important;
  color: #768693 !important;
  font-weight: bold !important;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5) !important;
}

.CM + div > .cf.nX {
  margin-left: 18px !important;
}

.ps {
  margin-left: 8px !important;
}

.vX .pi {
  display: none !important;
}

.vX .k .vZ, .vX .k .vZ span {
  color: #fff !important;
}

.vX .k {
  position: absolute !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
  top: 50% !important;
  padding: 6px 10px 0px !important;
  color: #fff !important;
  -webkit-border-radius: 4px !important;
}

.vX .k .v1:before {
  content: url("images/spinner.png") !important;
  margin-right: 8px !important;
  line-height: 30px !important;
  vertical-align: middle !important;
}
